<div class="container">

    <div class="ui card">
        <h1>Team Generator</h1>


        <ul class="list">
            <li *ngFor="let member of members">{{ member }}</li>
        </ul>

        <div class="add-members-container">
            <input #addMemberInput type="text" placeholder="Name" (input)="onInput(addMemberInput.value)" [value]="newMemberName" />
            <button (click)="addMember()">Add</button>
        </div>

        <div class="input-container">
            <input #numberOfTeamsInput type="text" placeholder="# of teams" (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)" [value]="numberOfTeams" />
            <button (click)="generateTeams()">Generate</button>
        </div>

        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>



        <div *ngFor="let team of teams">
            <p></p>
            <h3>Team {{ teams.indexOf(team) + 1 }} </h3>
            <div class="ui card">
                <p *ngFor="let member of team">{{ member }}</p>
            </div>
        </div>

    </div>

</div>